In [1]:
import pandas as pd

In [2]:
# Load the data into a Dataframe
# data of bid_won
data_won = pd.read_csv('./large_files/bid_won_1.csv')

data_won.head(6)

,id,version,width,creative_id,ad,meta,cpm,pb_ag,size,net_revenue,...,original_currency,pb_dg,media_type,bidder,adserver_targeting,status,original_cpm,bidder_code,time_to_respond,params
0,1,0,NaN,2966:194308,NaN,NaN,0.200000,0.20,300x250,True,...,USD,0.20,banner,NaN,NaN,rendered,0.200000,rubicon,329,NaN
1,2,0,NaN,2711_76920_8626063,NaN,NaN,0.660000,0.65,300x250,True,...,USD,0.66,banner,NaN,NaN,rendered,0.660000,triplelift,165,NaN
2,3,0,NaN,277233715,NaN,NaN,0.125769,0.10,300x250,True,...,USD,0.12,banner,NaN,NaN,rendered,0.125769,districtm,883,NaN
3,4,0,NaN,10674115,NaN,NaN,0.108300,0.10,300x250,True,...,USD,0.10,banner,NaN,NaN,rendered,0.108300,conversant,236,NaN
4,5,0,NaN,3658_67722_v34nf3yl,NaN,NaN,2.820000,2.80,300x250,True,...,USD,2.82,banner,NaN,NaN,rendered,2.820000,triplelift,288,NaN
5,6,0,NaN,2596:4764695,NaN,NaN,0.031050,0.00,300x250,True,...,USD,0.03,banner,NaN,NaN,rendered,0.031050,rubicon,389,NaN

In [3]:
data_won.shape

(293067, 36)

In [4]:
data_won = data_won.drop_duplicates(subset=['auction_id'])

In [27]:
data_won.loc[data_won['auction_id'] == '69833342-ebd8-4157-9591-e34f2d79c9d8']

,id,version,width,creative_id,ad,meta,cpm,pb_ag,size,net_revenue,...,height,original_currency,pb_dg,media_type,bidder,adserver_targeting,status,original_cpm,bidder_code,time_to_respond
0,1,0,NaN,2966:194308,NaN,NaN,0.2,0.2,300x250,True,...,NaN,USD,0.2,banner,NaN,NaN,rendered,0.2,rubicon,329

In [43]:
data_won.shape

(185647, 35)

In [5]:
data_won.to_csv('./large_files/revised_data_won.csv', sep=',')

In [6]:
# Load the data into a Dataframe
# data of bid_response
data_response = pd.read_csv('./large_files/bid_response_1.csv')

data_response.head(6)

,id,version,width,creative_id,ad,meta,cpm,pb_ag,size,net_revenue,...,pb_mg,height,original_currency,pb_dg,media_type,bidder,adserver_targeting,original_cpm,bidder_code,time_to_respond
0,1,0,NaN,2966:194308,NaN,NaN,0.200000,0.20,300x250,True,...,0.2,NaN,USD,0.20,banner,NaN,NaN,0.200000,rubicon,329
1,2,0,NaN,503937007416,NaN,NaN,0.010000,0.00,300x250,True,...,0.0,NaN,USD,0.01,banner,NaN,NaN,0.010000,openx,3029
2,3,0,NaN,2409_15064_70_35395050,NaN,NaN,0.029000,0.00,300x250,True,...,0.0,NaN,USD,0.02,banner,NaN,NaN,0.029000,triplelift,580
3,4,0,NaN,2460_106987_34014526,NaN,NaN,0.010000,0.00,300x250,True,...,0.0,NaN,USD,0.01,banner,NaN,NaN,0.010000,triplelift,288
4,5,0,NaN,1952782,NaN,NaN,0.003017,0.00,728x90,True,...,0.0,NaN,USD,0.00,banner,NaN,NaN,0.003017,sovrn,355
5,6,0,NaN,8440582,NaN,NaN,0.070000,0.05,300x250,True,...,0.0,NaN,USD,0.07,banner,NaN,NaN,0.070000,ix,329

In [15]:
data_response.shape

(986215, 33)

In [7]:
data_response = data_response.drop_duplicates(subset=['request_id'])

In [45]:
data_response.shape

(986204, 33)

In [46]:
data_response.loc[data_response['request_id'] == '5366cf434e8783f9f8']

,id,version,width,creative_id,ad,meta,cpm,pb_ag,size,net_revenue,...,pb_mg,height,original_currency,pb_dg,media_type,bidder,adserver_targeting,status,original_cpm,bidder_code
755119,755017,0,NaN,2409_24604_364_74686,NaN,NaN,0.159,0.15,300x250,True,...,0.1,NaN,USD,0.15,banner,NaN,NaN,0.159,triplelift,765

In [8]:
revised_data_response=pd.merge(data_response, data_won[["auction_id"]], on="auction_id")

In [36]:
revised_data_response.head(7)

,id,version,width,creative_id_x,ad,meta,cpm,pb_ag,size,net_revenue,...,original_currency,pb_dg,media_type,bidder,adserver_targeting,status,original_cpm,bidder_code,creative_id_y,has_won
0,1,0,NaN,2966:194308,NaN,NaN,0.200000,0.2,300x250,True,...,USD,0.20,banner,NaN,NaN,0.200000,rubicon,329,2966:194308,True
1,4,0,NaN,2460_106987_34014526,NaN,NaN,0.010000,0.0,300x250,True,...,USD,0.01,banner,NaN,NaN,0.010000,triplelift,288,2966:194308,True
2,2,0,NaN,5.03937E+11,NaN,NaN,0.010000,0.0,300x250,True,...,USD,0.01,banner,NaN,NaN,0.010000,openx,3029,5.03937E+11,True
3,3,0,NaN,2409_15064_70_35395050,NaN,NaN,0.029000,0.0,300x250,True,...,USD,0.02,banner,NaN,NaN,0.029000,triplelift,580,2409_15064_70_35395050,True
4,5,0,NaN,1952782,NaN,NaN,0.003017,0.0,728x90,True,...,USD,0.00,banner,NaN,NaN,0.003017,sovrn,355,151_867567,True
5,5,0,NaN,1952782,NaN,NaN,0.003017,0.0,728x90,True,...,USD,0.00,banner,NaN,NaN,0.003017,sovrn,355,151_867567,True
6,5,0,NaN,1952782,NaN,NaN,0.003017,0.0,728x90,True,...,USD,0.00,banner,NaN,NaN,0.003017,sovrn,355,1902:1949085,True

In [50]:
revised_data_response.shape

(540662, 33)

In [9]:
revised_data_response.to_csv('./large_files/revised_data_response.csv', sep=',')

In [51]:
revised_data_response.loc[revised_data_response['auction_id'] == '69833342-ebd8-4157-9591-e34f2d79c9d8']

,id,version,width,creative_id,ad,meta,cpm,pb_ag,size,net_revenue,...,pb_mg,height,original_currency,pb_dg,media_type,bidder,adserver_targeting,status,original_cpm,bidder_code
0,1,0,NaN,2966:194308,NaN,NaN,0.20,0.2,300x250,True,...,0.2,NaN,USD,0.20,banner,NaN,NaN,0.20,rubicon,329
1,4,0,NaN,2460_106987_34014526,NaN,NaN,0.01,0.0,300x250,True,...,0.0,NaN,USD,0.01,banner,NaN,NaN,0.01,triplelift,288

In [10]:
# Load the data into a Dataframe
# data of bid_requested
data_request = pd.read_csv('./large_files/bid_requested.csv')

data_request.head(6)

,id,version,start,referer_info,auction_id,bids,timeout,bidder_code,auction_start,bidder_request_id
0,27,0,1.616069e+12,NaN,ea466237-0bd8-43fc-852a-8c3729123239,NaN,2000.0,gumgum,1.616069e+12,2022e9705ce4a6e1e
1,43,0,1.616069e+12,NaN,505507b7-b2f6-43f5-8f78-24962e9ec8c9,NaN,2000.0,conversant,1.616069e+12,1030d358227fba185
2,10,0,1.616069e+12,NaN,9026b8e7-45d6-412f-a5cb-9a132840f716,NaN,2000.0,districtm,1.616069e+12,85640ee0ba6eafc
3,2,0,1.616069e+12,NaN,36f24074-e3fc-4deb-afbe-2a218d6ecc7d,NaN,2000.0,districtmDMX,1.616069e+12,67bc6d088d5006e
4,5,0,1.616069e+12,NaN,0799216f-52d3-4ad3-9355-64866700bb65,NaN,2000.0,conversant,1.616069e+12,1939d1c6a45097b8f
5,15,0,1.616069e+12,NaN,a02f0aee-06ad-4077-8321-a4ed042c9a69,NaN,2000.0,districtm,1.616069e+12,622ffbb3a60cb56b8

In [19]:
data_request.shape

(7780307, 10)

In [53]:
revised_data_request=pd.merge(data_request, data_won[["auction_id"]], on="auction_id")

In [54]:
revised_data_request.shape

(1823952, 10)

In [55]:
revised_data_request.to_csv('./large_files/revised_data_request.csv', sep=',')